@font-face{
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi.ttf') format('truetype');
}
@font-face{
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face{
  font-family: "Nunito";
  src: url('/css/fonts/nunito.woff') format('woff'),
     url('/css/fonts/nunito.woff2') format('woff2');
}
@font-face{
  font-family: "Nunito";
  src: url('/css/fonts/nunito-bold.woff') format('woff'),
    url('/css/fonts/nunito-bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face{
  font-family: "Nunito";
  src: url('/css/fonts/nunito-light.woff') format('woff'),
     url('/css/fonts/nunito-light.woff2') format('woff2');
  font-style: normal;
}

@font-face{
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadproregular.ttf') format('truetype'),
    url('/css/fonts/myriadproregular.woff') format('woff');
  font-style: normal;
}
@font-face{
  font-family: "Miriad Pro light";
  src: url('/css/fonts/myriadprolight.ttf') format('truetype'),
    url('/css/fonts/myriadprolight.woff') format('woff');
  font-style: italic;
}
@font-face{
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadprobold.ttf') format('truetype'),
    url('/css/fonts/myriadprobold.woff') format('woff');
  font-style: bold;
} 

@font-face{
  font-family: "Miriad Pro";
  src: url('/css/fonts/myriadproit.ttf') format('truetype'),
    url('/css/fonts/myriadproit.woff') format('woff');
  font-style: italic;
}


/*====================================================================================================
End of imports
=====================================================================================================*/


/*=====================================================================================================
Begin variables
======================================================================================================*/


@highest-z-index: 9999;

@normal-font: 14px;
@larger-font: 18px;
@smaller-font: 10px;
@title-font: 24px;

@purplish: #764ba2;
@bluish: #13c7f2;
@green: #3cd458;
@app_black: #585858;
@light_blue: #74b4ff;
@active_blue: #22498B;
@screen: #72d623;
@dark_green: #0d5013;
@active_blue: #22498B;
@app_black:  #787878;
@media768: ~"only screen and (max-width: 767px) and (min-width: 320px)";
@media992: ~"only screen and (max-width: 992px) and (min-width: 768px)";
@beige: #7b6b38;
@light: #F9F6F8;
@app_blue: #038cd6;
@nav_color: #a1d1eb;
@footer_color: #a1d1eb;
@app_dark_blue: #003b5c;
@pane_background: #f5f5f5;
@chat_header_background: #d9edf7;
@in_message_color: #78849e;
@out_message_color: #188ac8;
@in_message_initial: #059500;
@out_message_initial: #ff8000;
@messages_tab_background: #bbc9d0;
@messages_background_color: #d9ecf6;

@logo_width: 150px;
@small_margin: 16px;
@big_margin: 24px;


/*=====================================================================================================
End variables
======================================================================================================*/


/*=====================================================================================================
Begin extensibles
======================================================================================================*/

.shadow(){
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.scrollbars{
  &::-webkit-scrollbar {
      width: 6px;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: transparent;
      border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @app_dark_blue;
    border-radius: 3px;
  }
}


/*====================================================================================================
End of extensibles
=====================================================================================================*/
body{
  font-family: 'Myriad Pro light', 'Nunito', Arial;
  .scrollbars;
  background-color: white;
}

.main_content{
  min_height: 600px;
}

.navbar{

  background-color: @app_blue;
  
  #nav_logo{
    height: 50px;
  }

  .auth-links{

    list-style-type: none;
    padding-left: 0px;
    
    .nav-item{

      display: inline !important;
      margin-top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      .nav-link{
        display: inline !important;
        color: white;
      }
    }
  }

}

.login_image{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: @small_margin;
}


.form_section{
  position:  absolute;
}

 #first_form_section{
  
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%
}

#second_form_section{
  z-index: 20;
  top: 0px;
  left: 100%;
  background-color: white;
  width: 100%;
  
  img{
    width: 40px;
  }

  h6{
    text-align: center;
    font-weight: bold;

    &+small{
      display: block;
      margin: auto;
      text-align: center;
      font-weight: bold;

    }
  }

  div{
    margin-top: 0px !important;
    margin-bottom: 0px;
  }

  label{
    font-weight: bold;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px;
  }


} 

#third_form_section{

  h6{
    font-weight: bold;
    margin: 8px 0px;
  }

  z-index: 30;
  text-align: center;
  left: 100%;
  top: 0px;
  padding: 30px 0px;
  background-color: white;
  width: 100%;
  height: 450px;
  
  img{
    width: 40px;
  }

  p{
    line-height: 18px;
    font-size: 12px;

    a{
      font-weight: bold;
    }
  }
}

dashboard{
  margin-left: 0px! important;
  margin-right: 0px! important;
}

.dashboard-nav{
  height: 100vh; 
  background-image: linear-gradient(180deg, @app_dark_blue, @app_blue 100%);
  padding: 0px;
  margin: 0px;
  position: relative;
}

.dashboard-content{
  height: 100vh;
  tab-index: -1; 
  
}

.dashboard-header{
  height: 150px;
}

.dashboard-top-header{
  background-image: url('/images/dashboard.png'); 
  background-size: cover; 
  background-position: center; 
  width: 100%; 
  margin: 0px !important;
}


.dashboard-menu{
  border-bottom: 1px solid white;
  width: 100%;
  margin: 0px;
  position: absolute;
  z-index: @highest-z-index;

  .menu-div{

    padding: 20px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    #profile-image{
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    #user-div{

      margin-left: @small_margin;
      width: 90px;

      #username{
        padding: 0px;
        margin: 0px;
      }
      #teaching-status{
        font-size: @smaller-font !important;
      }
    }

    

    span{
      width: calc(100% - 160px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      left: 100%;
      width: 30px;
      cursor: pointer;

      #menu-icon{
        &:hover{
          color: rgba(255,255,255,0.8);
        }
      }

    }  

    
    .dashboard-popup{

      width: 250px;
      display: none;
      position: absolute;
      top: 0px;
      left: 120%;
      background-color: #efefef;
      
      .popup-top{
        padding: 20px 10px;

        #popup-profile{
          width: 60px;
          display: inline-block;
          
          #popup-profile-image{
            width: 100%;
            vertical-align: bottom;
            margin-top: 0px;
          }
        }

        #user-details{
          width: calc(100% - 80px);
          display: inline-block;
          height: 80px;
          overflow: hidden;
          padding-top: 10px;
          padding-left: 10px;

          p{
            line-height: 1;
            margin-bottom: 0px;
            color: @app_black;
            
            &:first-child{
              color: black;
              font-size: @larger-font;
            }
          }

          #edit-email{
            font-size: 10px;
            margin-top: 5px;
          }

          #reset-password{
            font-size: 10px;
            display: inline-block;
          }
        }
      }

      .popup-bottom{
        background-color: #ddd;
        padding: 10px;

        button{
          color: @app_black;
          background-color: white;
          border: 1px solid @app_black;
          height: 25px;
          width: 60px;
          font-size: @smaller-font + 2px;

          &:last-child{
            float: right;
          }
        }
      }
      
    }
   

  } 

}

.dashboard-nav-items{

  position: absolute;
  z-index: @highest-z-index;
  top: 170px;
  padding: 0px;
  width: 100%;

  #dashboard-nav-items-list{

    list-style-type: none;
    padding: 0px;
    margin: 0px;


    .dashboard-nav-item{
      margin: 0px 20px 0px 0px;
      color: white;
      line-height: 2.5;
      margin-bottom: 8px;
      font-size: 14px;
      cursor: pointer;

      &:hover{
        background-color: rgba(255,255,255,.3);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      img{
        width: 16px;
        margin: 0px 16px;
      }

      &.active{
        background-color: rgba(255,255,255,.3);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
    }

  }
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.divider{
  height: 1px;
  color: black;
  vertical-align: center;
  width: 100%;
}

.pane{
  width: 100%;
  height: 100%;
  background-color: @pane_background;
  overflow-y: scroll;
  .scrollbars;
  flex-wrap: nowrap;
}

.broadcast-item{
  background-color: #efefef;
  border-radius: 16px;
  padding: 20px;
  margin: 5px 20px;
  h6{
    text-transform: uppercase;
    font-weight: bold;
  }
  p{
    line-height: 1;
    margin-bottom: 0px;
  }

  &:hover{
    background-image: linear-gradient(180deg, lighten(orange, 70%), orange);
  }
}

.item-content{

  width: 100%; 
  height: calc(100% - 150px); 
  margin: 0px;
  padding-top: 20px;
  display: none;

  &.active{
    display: flex;
  }

  .content-pane{
  
    height: 100%;

    .class-pane{

      width: 150px;
      display: inline !important;

      text-align: center;

      #school-image{
        display: block;
        margin: auto;
      }

      #student-class{
        display: block;
        margin: auto;
      }
    }

  }

  //=======================================================================================================
  // attendance pane styles
  //========================================================================================================


  &#attendance-pane{

    #attendance-date{
      margin: @small_margin;
      text-align: right;
    }

    #child-attendance{

      margin-left: @big_margin * 2;
      padding: @big_margin * 2;
      width: 100%;

      .child-attendance-column{

        .child-attendance-item{
          display: flex;
          flex-direction: row;          
          border: 1px solid green;
          padding: @small_margin / 2;
          width: 100%;
          position: relative;
          margin-bottom: -1px;
          

          .child-image{
            width: 50px;
            clip-path: circle(30px at 50% 50%);
          }

          .child-name{
            display: inline-block;
            margin-left: @small_margin;
            padding-top: @small_margin;
          }

          .attendance-status{
            width: 30px;
            position: absolute;
            right: @small_margin;
            margin-top: calc(15px);
          }
          
        }

      }      
      
    }

    #update-attendance{
      display: block;
      margin: @big_margin auto @big_margin * 2 auto;
      width: 150px;
    }

  }

  //=======================================================================================================
  // location pane styles
  //========================================================================================================


  &#child-location-pane{

    .input-group{
      

      .input-group-prepend{
        background-color: white !important;

        .form-control{
          .shadow;
        }

        .input-group-text{
          background-color: white !important;
          .shadow;
        }
      }
    }

  }

  //=======================================================================================================
  // chat pane styles
  //========================================================================================================

   &#chats-pane{

     
      flex-wrap: nowrap;

      #send-message-image{
        height: 35px;
        margin-left: @small_margin / 2;
        &:hover{
          opacity: .7;
        }

      }


      .select-chat{
        background-color: white;
        border: 1px solid #eee;
        overflow: auto;
        .scrollbars;        

        .header{
          color:  white;
          background-color: #707070;
          text-align: center;
          margin-top: @small_margin;
          padding: @small_margin / 4 0px;
        }

        .chat-item{
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #eee;
          margin-right: 0px !important;

          &:hover{
            background-color: @pane_background;
          }

          .initials{
            width: 60px;
            height: 60px;
            text-align: center;
            p{
              width: 50px;
              height: 50px;
              text-transform: uppercase;
              line-height: 50px;
              border-radius: 50%;
              background-color: red;
              color: white;
              font-size: @larger-font;
            }
          }

          .last-message{
            flex: 1;
            margin: @small_margin / 4 @small_margin;
            cursor: pointer;

            h6{
              
              margin-bottom:  @small_margin / 4;
            }

            p{
              font-size: @smaller-font;
            }

          }

          .next{

            align-item: right;
            .fas{
              line-height: 60px;
            }
            
          }
        }
      }

      .chat{
        height: 100%;
        margin-left: 0px !important;
        padding: 0px;
        overflow-y: hidden;
        

        .header{
          background-color: @chat_header_background;
          text-align: center;
          color: black;
          padding: @small_margin 0px;
        }

        #messages-container{

          padding: @small_margin / 2;
          height: calc(100% - 110px);
          overflow-y: auto;
          .scrollbars;

          .message-time{
            text-transform: uppercase;
            text-align: center;
            font-size: @smaller-font;
            margin-top: @small_margin;
          }

          .in-message{

            width: 300px;
            border-radius: 20px;
            background-color: @in_message_color;
            color: white;
            padding: @small_margin;
            position: relative;
            p{
              margin-bottom: 0px;
            }

            .initials{
              position: absolute;
              width: 30px;
              height: 30px;
              text-align: center;
              color: white;
              background-color: @in_message_initial;
              right: 0px;
              top: -15px;
              border-radius: 15px;
              border: 2px solid white;
              p{
                line-height: 30px;
              }
            }

            .message-body{

            }
          }

          .out-message{

            width: 300px;
            border-radius: 20px;
            background-color: @out_message_color;
            color: white;
            padding: @small_margin;
            position: relative;
            p{
              margin-bottom: 0px;
            }

            .initials{
              position: absolute;
              width: 30px;
              height: 30px;
              text-align: center;
              color: white;
              background-color: @out_message_initial;
              left: 0px;
              top: -15px;
              border-radius: 15px;
              border: 2px solid white;
              p{
                line-height: 30px;
              }
            }

            .message-body{

            }
          }

        } //end of messages container

        #enter-message{
          height: 60px;
          padding: @small_margin / 4;


          input{
            width: 90%;
            border-radius: 20px;
            padding-left: @small_margin;
          }
        }

        
      }

   }

   //=======================================================================================================
   // Inbox pane styles
   //========================================================================================================

   &#inbox-pane{

      .nav-tabs{

          background-color: @messages_tab_background;

          .nav-item{

            width: 200px;
            text-transform: uppercase;

            .nav-link{

              width: 100%;
              text-align: center;
              
              &.active{
                background-color: #707070;
                color: white;
              }

            }

          }
      }

      #tabContent{

        background-color: @messages_background_color;

        #messages{

          .single-message{

              padding:  @small_margin / 2 0px;
              background-color: #f5f5f5;
              margin: @small_margin / 4 0px;
              align-items: center;

              p{
                margin-bottom: 0px;
              }

              .form-check-input{
                padding-top: 0px;
                margin-left: 0rem;
              }

              img{
                padding-top: 0px;
                margin-left: @big_margin + @small_margin;
              }

              .sender-name{
                font-size: @smaller-font + 2;
                font-weight: bold;
              }

              .message-title{
                font-size: @smaller-font + 2;
              }

              .message-excerpt{
                font-size: @smaller-font + 2;
              }
              
            }

        }

      }
   }  //end of inbox-pane

  //=======================================================================================================
  // Digital homework pane styles
  //========================================================================================================


   &#digital-homework-pane{

      overflow: hidden;

      .homework-recipient-list{

          position: relative;
          padding-left: 0px;
          padding-right: 0px;

          #choose-recipient-header{

            padding: @small_margin / 2;
            background-color: @app_blue;
            color: white;
            text-align: center;
            font-weight: bold;

          }

          #current-time{
            position: absolute;
            top: @small_margin / 2;
            right: @small_margin / 2;
            color: white;
          }

          #recipient-search{
            width: 100%;
            padding: @small_margin;
            border: none;
            border-bottom: 1px solid #ccc;
            text-align: center;

            &::placeholder{
              color: #ddd;
              font-style: italic;
            }
          }

          #child-recipient-list{

            padding-top: @small_margin / 2;
            overflow-y: scroll;
            .scrollbars;
            

            .child-recipient-item{

                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid #eee;
                padding: @small_margin / 2 @small_margin * 2;
                cursor: pointer;

                .child-image{
                  width: 50px;
                  clip-path: circle(50% at 50% 50%);
                }

                .child-name{
                  margin-left: @big_margin;
                  flex: 1;
                  padding-top: @small_margin;
                }

                .attendance-status{
                  width: 30px;
                  height: auto;
                }

                &:hover{
                  background-color: rgba(0,0,0,.2);
                }

            }

          }

      }

      #homework-history-subpane{

          display: none;

          #homework-navigation{
          background-color: white;
          padding: @small_margin / 4 @small_margin * 2;
          cursor: pointer;

          
          .fas{
            opacity: .5;
            &:hover{
              opacity: 1;
            }
          }
          
        }
        #teacher-homework-history{

          padding: 0px;
          overflow-y: scroll;
          .scrollbars;
          box-sizing: border-box;
                 

          .homework-list-item{

              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              padding: @small_margin / 4  @big_margin;
              border-bottom: 1px solid #ddd;
              cursor: pointer;

              .school-image{

                height: 60px;

                img{
                  height: 100%;
                }
              }

              &.active, &:hover{
                background-color: darken(@pane_background, 20%);
              }

              .homework-details{
                margin-left:  @small_margin * 2;
                width: 100%;
                .subject-title{
                  text-transform: uppercase;
                  margin: 0px;
                }
                .assignment-header{
                  font-size: @smaller-font;
                  margin: 0px;
                  padding: 0px;
                }

                .tiny{
                  color: @app_blue;
                  font-size: @smaller-font - 2;
                }
                .time-set{
                  margin-top: 0px;
                  padding: 0px;
                  
                }
                .time-left{
                  float: right;
                  display: inline-block;
                  margin-top: @small_margin / 2;
                }
              }
            }

        }
      }

      

      .homework-detail{
        box-sizing: border-box;
        width: 100%;

        #homework{
          height: 50px;
          padding: @small_margin;        
          position: relative;
          padding-right: 0px;

          #set-homework-top{

            width: 100%;
            display: inline-block;
            position: relative;

            margin-bottom: @big_margin;
            
            .fas{
              opacity: .5;
              cursor: pointer;
              transform: scale(1.5, 1.2);
              -webkit-transform: scale(1.5, 1.2);
              &:hover{
                opacity: 1;
              }
            }

            #assignment-date-div{

              width: 200px;
              position: absolute;
              right: 0px;
              top: 0px;

              #set-deadline{
               width: 100%;
               text-align: center;
              }

              #set-assignment-date{
                border: none;
                border-radius: 4px;                
                padding: @small_margin / 4  @small_margin / 2;
                .shadow;
                color: @app_blue;
              }
            }

            
          }

          .homework-input{
            border-radius: 0px;
            border: none;
            border-bottom: 1px solid black;          
            margin: @small_margin 0px;          
            background-color: transparent;
          }

          img{
            position: absolute;
            right: 0px;
            top: @small_margin / 4;
            cursor: pointer;
          }

          #send-assignment-image{
            top: 300px;
          }
        }        

      }

   } 

   //=====================================================================================================
   // Subject timetable styles 
   //=====================================================================================================

   &#subject-time-table-pane{



      #time-table-header{

        position: relative;
        color: @app_blue;
        padding: @small_margin / 2;
        border-bottom: 1px solid fade(@app_blue, 20%);

        h4{
          text-align: center;
        }
        p{
          text-align: center;
        }

        img{
          position: absolute;
          left: 100px;
          top: 0px;
          height: 80%;
        }
      }

      #time-table-div{
        margin-top: @big_margin * 2;
        .table{
            thead{
                color: white;
                background-color: @app_blue;
                padding: 0px !important;
                height: 10px  !important;
            }
            tr{
                td{
                    border: 2px solid @app_blue;
                    text-transform: uppercase;
                    font-size: @smaller-font + 2;

                    &:first-child{
                      color: black;
                      -webkit-transform: matrix(1.0, -0.3, 0.3, 1.0, 0, 0);
                      transform: matrix(1.0,-0.3, 0.3, 1.0, 0, 0);
                      position: relative;

                      &:after{
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: @app_blue;
                        position: absolute;
                        left: calc(100% - 10px);
                        top: calc(100% - 8px);
                      }
                    }
                }
            }
        }
      }

   }//end of subject tim table pane

   &#teacher-status-pane{


      .pane{
         padding: @big_margin * 2;
      }
      

      .select-status-item{

          height:  80px;
          background-color: #ebf1f4;
          border-bottom: 1px solid #ddd;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding: @small_margin / 2 @small_margin;
          align-items: center;

          .status-image{
            width: 30px;
          }

          .status{

            flex: 1;
            margin-left: @small_margin;
            color: @app_blue;
            padding: 0px;
            margin-bottom: 0px;
          }

          .select-status-radio{
            float: right;
          }

      }

      .view-child{
        margin-top: 200px !important;
        display: block;
        margin: auto;
        width: 100px;
      }

   } //end of select child pane

}

.registration{
  margin-top: 50px;
  border-radius: 30px;
  position: relative;
  .shadow;
  
}

.social-login{

  position: relative;

  img{
    position: absolute;
    width: 20px !important;
    top: 8px;
    left: 22px;
  }
}

.login_form{
  
  padding: 20px 50px;
  position: relative;
  height: 450px;
  overflow: hidden;
  

  img{
    width: @logo_width - 50px;
    display: block;
    margin: auto;
  }

  .form-control{
    background-color: rgba(0,0,0,.1);
  }

  &.login{
    box-shadow: 0px 0px 20px lighten(@app_blue, 40%); 
    border-radius: 30px;
    height: 400px;
    margin-top: 100px;
    width: 350px !important;
    padding: 20px;
    border: 2px solid @app_blue;

    .form-group{
      padding: 0px !important;
    }

    font-size: 12px;
  }
}


.form_holder{
  padding: 30px 50px;
}


.loading_bar{
  height: 3px;
  border-radius: 2px;
  width: 200px;
  background-color: lighten(gray, 20%);
  display: block;
  margin: auto;

  .loading_status{
    height: 100%;
    width: 0px;
    background-color: @app_blue;
    border-radius: 2px;
  }
}

.separator-row{
  width: 100%;
  height: 16px;
  position: relative;
  margin-left: @small_margin / 2;
  margin-right: @small_margin /2;
  overflow: hidden;
  text-align: center;
  padding-left: 0px;

  .separator{
    height: 1px;
    width: calc(100% - @small_margin);
    background-color: fade(black, 50%);
    position: absolute;
    top: 8px;
    left: 0px;
  }

  p{
    background-color: white !important;
    padding: 0 8px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.welcome{
  width: 100%;
  height: 100vh;
  background-color: white;
  padding-top: 100px;
  text-align: center;
}

#welcome_logo_div{ 
  
  display: inline-block;
  text-transform: uppercase;
  height: 150px;
  box-sizing: border-box;

  img{
    display: inline;
    width: @logo_width;
    height: auto;
  }

  #side_div{
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    transform: translateY(@big_margin);
    color: @app_blue;
    
  }

}



.scroll-top{
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: @highest-z-index;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: -2px 2px 5px rgba(0,0,0,.2);
  text-align: center;
  background-color: white;
}


.hide{
  display: none;
}

footer{
  padding:  10px 0px;
  background-color: @footer_color;
  margin-top: 50px;
  text-align: center;
}

